
* {
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}

body{
	background-color:#8CC1C1;			
	/*
	background-image: url(../img/tygh_1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	*/
	background-image:url("../img/note_02_bg.jpg");
	background-repeat:repeat;
    
	font-family: arial,Microsoft JhengHei, serif;
	color:#333333;
	font-size:16px;
	text-align:left;	
	
	padding:0px;
	margin:0px;
}

textarea{
	letter-spacing:1px;
	resize: none;
}

a img{
	border:none;
}

input,select{	
	/*vertical-align:baseline;*/
    font-family: arial,Microsoft JhengHei, serif;
}

input:focus{outline:none}

input[type=button]:hover{
	background-color:#E5F5FF;
}


/*
table{border-collapse:collapse;}
td{padding:0px;border:thin blue solid;}
*/
table{table-layout:fixed;word-break:break-all;word-wrap:break-word;}
table th{word-wrap:break-word;overflow-x:hidden;}
table td{word-wrap:break-word;overflow-x:hidden;}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

fieldset{
	border: 0;
	padding: 10px;
	margin-bottom: 10px;
	background: #eee;
	border-radius: 8px;
	/*background:-webkit-linear-gradient(top,#EEE,#FFF); º¥¼h*/
	box-shadow:3px 3px 5px #666;
}

legend{
	padding: 5px 10px;
	background-color: #4f709f;
	color: #fff;
	border-radius: 5px;
	box-shadow:2px 2px 4px #666;
}

input.checkbox{
	width: 20px;
	height: 20px;
}

/*receipt index style for idShowDataUL 
  後台管理帶入的樣式*/
.cUL{
	list-style-type: none;
	padding: 0px;
	margin:0px;
}

.cUL li{
	padding: 3px;
	background-color: #c4e1ff ;
	border-top:1px grey solid;
	text-align: center;
	cursor:default; 
}

.cUL li:hover{
	background-color: pink; /*當滑鼠經過時 顏色變為粉紅色*/
}

.cFieldset{
	position:relative;
	padding: 30px 10px 10px 10px;
	margin-top: 0px;
	background: #eee;
	border-radius: 8px;
	
	border-right:2px #666666 solid;
	border-bottom:2px #666666 solid;
	border-left:1px #CCCCCC solid;
	border-top:1px #CCCCCC solid;
	/*background-image:url("../img/note_02_bg.jpg");*/
	
	border-radius: 8px;
	box-shadow:2px 2px 3px #999;
	
	line-height:30px;
	
	font-weight:900;
	color:#556666;
}

.cFieldset hr{
	border:2px #999999 dashed;
}

.cLegend{
	position:absolute;
	top:0px;
	left:0px;
	padding: 0px 10px;
	background-color: #4f709f;
	color: #fff;
	
	border-right:2px #666666 solid;
	border-bottom:2px #666666 solid;
	border-left:1px #999999 solid;
	border-top:1px #999999 solid;
	
	border-radius: 10px;
	box-shadow:2px 2px 3px #999;
	
	line-height:24px;
}



.cRadius{
	border-radius:20px;	
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-khtml-border-radius:20px;	
}

.cRadius2{
	border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
}

/* ³±¼v */
.cShadow{
	-webkit-box-shadow: #444444 0px 0px 20px;
	-moz-box-shadow: #444444 0px 0px 20px;
	box-shadow: #444444 0px 0px 20px;
}

/*³z©ú*/
.cAlpha{
	filter:alpa(opacity=80);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80,FinishOpacity=15, Style=3, StartX=0, FinishX=100, StartY=0,FinishY=16);
	-moz-opacity:0.80;
	opacity:0.80;		
}

/*Ãä®Ø¡B³±¼v¤å¦r*/
.cFontSDKG {
	filter: glow(color:black, strength=2);
	/*text-shadow:
	-1px -1px 0 #333,
	1px -1px 0 #333,
	-1px 1px 0 #333,
	1px 1px 0 #333;
	?Šæ?+?°å½±
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000,
	2px 2px 2px black;
	*/
	text-shadow: -1px 0 #444, 0 1px #444,1px 0 #444, 0 -1px #444,2px 2px 2px #444;
}

/*¥W¥Y³±¼v¤å¦r*/
.cFontSDAW {text-shadow: -1px -1px white, 1px 1px #333;}
.cFontSDTU {text-shadow: 1px 1px white, -1px -1px #444;}

/*µLªk³Q¿ï¾Ü*/
.cNotSelect{
	cursor:default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*pointer-events: none;*/
}


/*¥Y¥X·P*/
.cKungTu{
	
	border-right:2px #444444 solid;
	border-bottom:2px #444444 solid;
	border-left:1px #999999 solid;
	border-top:1px #999999 solid;
	
	/*border:1px #888888 solid;*/
	/*background-image:url("../img/note_02_bg.jpg");*/
	/*background-color:#BFF5F5;*/
}


.cKungTu2{
	border:10px white solid;
}





.cFlagFont1{
	padding:0px 5px;
	background-color:#F3EAB1;
	border:1px #666666 solid;
	font-weight:normal;
	display:inline-block;
	vertical-align:-2px;
	/*text-shadow: -1px 0 #444, 0 1px #444,1px 0 #444, 0 -1px #444;*/
}

/*¿é¤J®Ø*/
.cInputText1{
	border:none;
	border-top:2px #BBBBBB solid;
	border-left:2px #BBBBBB solid;
	border-right:1px #DDDDDD solid;
	border-bottom:1px #DDDDDD solid;
	background:white;
	font-size:16px;
	/*color:#5588AA;*/
	color:#CC5555;
	font-weight:900;
	font-family: PMingLiU, serif;
	letter-spacing:1px;
	padding-left:3px;
	padding-right:3px;
	height:25px;
	
	vertical-align:4px;
}

.cInputText1:focus{background-color:#FFFCB9;}

/*receipt system add and edit style*/
.cTableShinyi{
	border-collapse:collapse;
}
.cTableShinyi td{ 
	padding:5px;
	border:thin #DDDDDD solid;
	cursor:default;
}

.cTableShinyi tr:nth-child(odd) {
	background-color:#F0F0F0;
}
.cTableShinyi tr:nth-child(even) {
	background-color:#F7F7F7;
}
.cTableShinyi tr:hover{
	background-color:#CCEEFF;
}

/*繳款人垂直置中設定*/
#vertical-name {
	height: 80px;
	line-height: 80px;
	text-align: center;
	margin-top: 130px;
	width: 120px;
	margin-left: 25px;
}

/*收入科目及代碼*/
#vertical-sub {
	height: 80px;
	line-height: 80px;
	text-align: center;
	margin-top: -80px;
	width: 120px;
	margin-left: 152px;
}

/*金額*/
#vertical-bill {
	height: 80px;
	line-height: 80px;
	text-align: center;
	margin-top: -80px;
	width: 120px;
	margin-left: 270px;
}

span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}



/*¤U©Ô¿ï³æ*/
.cSelect{
	padding:2px;
	font-size:14px;
	border-top:2px #BBBBBB solid;
	border-left:2px #BBBBBB solid;
	border-right:1px #DDDDDD solid;
	border-bottom:1px #DDDDDD solid;
	background-color:#FFFFFF;
	/*color:#777777;*/
	color:#CC2222;
	height:25px;
	font-weight:600;
	/*font-family: PMingLiU, serif;*/
	font-family: Microsoft JhengHei, serif;
	
	vertical-align:2px;
}
.cSelect:focus{background-color:#FFFCB9;}

/*¦h¦æ¤å¦r®Ø*/
.cTextarea{
	border-top:2px #BBBBBB solid;
	border-left:2px #BBBBBB solid;
	border-right:1px #DDDDDD solid;
	border-bottom:1px #DDDDDD solid;
	padding:5px;
	font-size:16px;
	color:#CC5555;
	font-weight:900;
	/*color:#FF44AA;*/
}
.cTextarea:focus{background-color:#FFFCB9;}

/*¤å¦r¼Ë¦¡*/
.cTip{
	margin-left:5px;
	font-size:12px;
	color:#FF44AA;
	/*font-weight:bold;*/
	vertical-align:2px;
}
.cWarn{
	font-size:12px;
	color:#FF0000;
	font-weight:bold;
}
.cEx{
	font-size:12px;
	color:#2244FF;
	vertical-align:2px;		
}
.cDisabled{
	background-color:#BBBBBB;
	color:white;
	cursor:not-allowed;
}

.cSpecFont{
	/*ª`¥Ø¤å¦r¦â*/
	 color:#449999;
	 font-weight:bold;
}
/*----------------------------------------------------------------------------------------------------------------
//																												//
//												©w¨îUI(¤½¥Î)													//
//																												//
-------------------------------------------------------------------------------------------------------------- -*/

/* -- µLÃätable(layout¥Î) -- */
.cLayOutTable{border-collapse:collapse;padding:0px;margin:0px;}
.cLayOutTable th{padding:2px;margin:0px;/*border:thin red solid;*/}
.cLayOutTable td{padding:2px;margin:0px;/*border:thin red solid;*/}


/* -- ¿ï³æ«ö¶stable(layout¥Î) -- */
.cMenuTable  .cMTBtn {height:25px;border:1px #666666 solid;cursor:pointer;background-color:#5B6A6F;color:#EEEEEE;border-right:3px #445555 solid;border-bottom:3px #445555 solid;border-left:3px #778899 solid;border-top:2px #8899AA solid;font-size:16px;}
.cMenuTable  .cMTBtn:hover{background-color:#506060;color:#F69DA1;border-left:3px #667788 solid;border-top:2px #778899 solid;}
.cMenuTable  .cMTBtn:active{background-color:#333333;border-bottom:3px #333333 solid;border-right:3px black solid;border-top:2px black solid;color:#E68D91;font-size:14px;}
.cMenuTable  .cMTBtnAdmin{background-color:#805050;}
.cMenuTable  .cMTBtnAdmin:hover{background-color:#503030;}
/*.cMenuTable input{width:100%;height:100%;font-size:14px;}*/
.cMenuTable  .jee{
	background-color:#FFCC6C;
	color:#000000;
}


/* --  ªí®æA --*/
.cTableA{
	border-collapse:collapse;
	/*width:95%;*/
	table-layout:fixed;
	word-break:break-all;
	word-wrap:break-word;
	background-color:#FFFFFF;
}
.cTableA tr{
	page-break-inside: avoid;
	-webkit-region-break-inside: avoid; 
}

.cTableA th{
	border:thin #D0D0D0 solid;
	text-align:center;
	padding:5px;
	color:#FFFFFF;
	background-color:#48A9AC;		
	word-wrap:break-word;
	overflow:hidden;
}
.cTableA td{
	border:thin #D0D0D0 solid;
	text-align:center;
	padding:5px;
	color:#646464;	
	word-wrap:break-word;
	position:relative;
	overflow:hidden;
}
.cTableA tr:nth-child(odd) {
	background-color:#f5f5f5;
}
.cTableA tr:nth-child(even) {
	background-color:#FFFFFF;
}
.cTableA tr:hover{
	background-color:#CCEEFF;
}
/*----------------------------------------------------------------------------------------------------------------
//																												//
//												¶µ¥ØUI(¿W¥Î)													//
//																												//
-------------------------------------------------------------------------------------------------------------- -*/
/*¥D­¶LOGO*/
.cTopTitle{
	font-size:20px;
	letter-spacing:4px;
	font-weight:bold;
	color:#585858;
	vertical-align:2px;
	/*font-family:DFKai-sb;*/
	/*font-family:PMingLiU;*/
}

/*°ò¥»¸ê®Æ&¦Cªí¿z¿ïªí®æ*/
.cBaseInfoTable *{
	/*vertical-align:top;*/
}
.cBaseInfoTable th{
	font-weight:900;
	color:white;
	text-align:right;
	background-color: #64C2C2;
}

/*¦¸­¶­±*/
.cMainCont{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8cc1c1+1,acd1d1+44,bff5f5+100 */
	/*
	background: #bff5f5; 
	background: -moz-linear-gradient(top, #bff5f5 1%, #ffffff 44%, #bff5f5 100%); 
	background: -webkit-linear-gradient(top, #bff5f5 1%,#ffffff 44%,#bff5f5 100%);
	background: linear-gradient(to bottom, #bff5f5 1%,#ffffff 44%,#bff5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bff5f5', endColorstr='#bff5f5',GradientType=0 ); 
	*/
	
	/*
	background: #FFF599; 
	background: -moz-linear-gradient(top, #FFF599 1%, #ffffff 24%, #ffffff 75%, #FFF599 100%); 
	background: -webkit-linear-gradient(top, #FFF599 1%,#ffffff 24%, #ffffff 75%,#FFF599 100%); 
	background: linear-gradient(to bottom, #FFF599 1%,#ffffff 24%, #ffffff 75%,#FFF599 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFF5F0',GradientType=0 ); 
	*/
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7df2d+0,e3f5ab+50,f8ffe8+100 */
	background: #F2FFF0; /* Old browsers */
	/*背景漸層*/
/*	background: -moz-radial-gradient(center, ellipse cover, rgba(183,223,45,1) 0%, rgba(227,245,171,1) 50%, rgba(248,255,232,1) 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, rgba(183,223,45,1) 0%,rgba(227,245,171,1) 50%,rgba(248,255,232,1) 100%);
	background: radial-gradient(ellipse at center, rgba(183,223,45,1) 0%,rgba(227,245,171,1) 50%,rgba(248,255,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7df2d', endColorstr='#f8ffe8',GradientType=1 ); 
*/}

/* -- ¥D­¶loadingª«¥ó -- */
.cLoading{
	position:fixed;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	z-index:3;
}

.cLoading .cLoadingBG{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	
	background-color:#666666;

	/*
	filter:alpa(opacity=0);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0,FinishOpacity=15, Style=3, StartX=0, FinishX=100, StartY=0,FinishY=16);
	-moz-opacity:0;
	opacity:0;	
	*/
	
	
	filter:alpa(opacity=60);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60,FinishOpacity=15, Style=3, StartX=0, FinishX=100, StartY=0,FinishY=16);
	-moz-opacity:0.6;
	opacity:0.6;
	
	z-index:4;
	
}

.cLoading .cLoadingGIF{
	position:absolute;
	z-index:5;
	top:45%;
	left:45%;
}

/* -- ¥D­¶print msgª«¥ó -- */
.cPrintMsg{
	border:3px #444444 solid;
	padding:10px;
	background-color:#FFE5C9;
	position:fixed;
	width:60%;height:60%;
	left:20%;bottom:20%;
	z-index:620;
}

.cPrintMsgTextArea{
	width:100%;
	height:85%;
	font-size:14px;
	color:#444444;
	border:2px #666666 solid;
	background-color:#F2F2F2;
}

.assessTable{			
	border-collapse:collapse;
	table-layout:fixed;
	word-break:break-all;
	word-wrap:break-word;
}
.assessTable td{
	border:thin #000000 solid;
	text-align:center;
	font-size:14px;
	padding:2px;
}

/*ª½®Ñ*/
.vertical-mode {
    writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;      
    writing-mode: vertical-rl;
}

/*Âà¦V*/
.rvtext{
	transform: rotate(90deg);
	font-weight:bold;
	/*border:1px red solid;*/
}

